{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    
         <!-- Header-->
         <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
    <div class="container mt-5 mb-5">
        <div class="row">
            <center>
                <div class="col-10">
                    <p class="justify">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis obcaecati neque molestias error possimus labore et incidunt, tempore id eius cumque repellat! Quisquam repudiandae, expedita recusandae aliquid earum porro maiores?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis obcaecati neque molestias error possimus labore et incidunt, tempore id eius cumque repellat! Quisquam repudiandae, expedita recusandae aliquid earum porro maiores?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis obcaecati neque molestias error possimus labore et incidunt, tempore id eius cumque repellat! Quisquam repudiandae, expedita recusandae aliquid earum porro maiores?
                    </p>
                </div>
            </center>
        </div>
    </div>
{%endblock content %}